**/node_modules
**/logs
**/build
**/.env
**/tsconfig.tsbuildinfo
**/.eslintcache
**/.vscode
*.local

# Environment variables
*.env
.env.*
!.env.example

# Google Service Account Keys
*.json

# Dependency directories
node_modules/